body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.container-1411 {
  margin: 0 auto;
  width: 1743px;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 以上为通用样式 */
.page-header {
  background-color: #fff200;
}

.page-container {
  justify-content: space-between;
  display: flex;
  min-width: 1200px;
  height: 56px;
  margin: 0 30px;
}

.header-left {
  flex-shrink: 0;
  align-items: center;
  display: flex;
}

.header-logo {
  width: 120px;
  height: 20px;
  margin-right: 40px;
  background-color: #000;
}

.header-navlist {
  align-items: center;
  display: flex;
  height: 100%;
}

.header-nav-item {
  position: relative;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: #222;
}

.header-nav-item:last-child {
  padding: 0 20px;
}

.header-nav-item .iconfont {
  align-items: center;
  display: flex;
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.header-nav-item.reminder:after {
  content: "";
  position: absolute;
  top: 0;
  right: 13px;
  width: 8px;
  height: 8px;
  background-color: #ff4a3b;
  border-radius: 50%;
}

.header-nav-item__icon {
  position: absolute;
  top: -13px;
  left: 39px;
  width: 58px;
  height: 16px;
}

.header-right {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  width: 100%;
  padding-left: 24px;
}

.header-search {
  /* 问题，怎么让搜索框灵活变化:flex的应用 */
  flex: 1;
  align-items: center;
  display: flex;
  min-width: 154px;
  max-width: 540px;
  height: 34px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.header-search:focus {
  border-color: rgb(40, 178, 139);
}

.header-search-input {
  width: 100%;
  height: 19px;
  padding: 0 12px;
  font-size: 14px;
  color: rgb(51, 51, 51);
  background: transparent;
  border: none;
  outline: none;
}

.header-search-input::placeholder {
  font-size: 14px;
  color: #999;
}

.header-search .iconfont {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.header-search .icon-paizhao {
  font-size: 20px;
  color: rgb(255, 148, 0);
}

.header-search-btn {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.header-search-btn .iconfont {
  font-size: 20px;
}

.header-user {
  align-items: center;
  display: flex;
  width: 226px;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, .65);
}

.header-user-upload {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 70px;
}

.header-user-upload .iconfont {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30px;
  height: 30px;
  font-size: 25px;
}

.header-user-signup {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.65);
}

.header-user-signin {
  padding: 7px 24px;
  margin-left: 32px;
  color: #fff;
  background-color: #222;
  border-radius: 8px;
}

.banner-section {
  position: relative;
  z-index: 10;
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}

.banner-container {
  position: relative;
  width: 1230px;
  margin: 0 auto;
  background-color: #bfa;
}

.banner-list {
  position: relative;
  left: -1485px;
  display: flex;
  width: 1288px;
  margin: 0 auto;
}

.banner-item {
  display: flex;
  padding: 0 10px;
}

.banner-item__img {
  width: 1380px;
  height: 350px;
  border-radius: 12px;
  opacity: .4;
}

.show .banner-item__img {
  opacity: 1;
}

.banner-dot-item {
  position: absolute;
  top: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 56px;
  height: 56px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease;
}

.banner-section:hover .banner-dot-item {
  opacity: 1;
}

.banner-dot-item:hover {
  background-color: rgba(0, 0, 0, .65);
  opacity: 1;
}

.banner-dot-item .iconfont {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #fff;
}

.banner-dot-item:hover .iconfont {
  color: rgb(255, 242, 0);
}

.banner-dotlist .banner-dot-item.prev {
  left: -55px;
}

.banner-dotlist .banner-dot-item.next {
  right: -55px;
}

.board-section {
  padding: 20px 30px 32px;
}

.board-list {
  justify-content: center;
  display: flex;
}

.board-item {
  display: flex;
  margin-right: 20px;
  cursor: pointer;
}

.board-item:last-child {
  margin-right: 0px;
}

.board-item__img {
  width: 274px;
  height: 219px;
  border-radius: 12px;
}

.content-section {
  margin-bottom: 52px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.content-title {
  position: relative;
  margin: 0 auto;
  width: 1743px;
}

.content-title-list {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 56px;
  margin: 0 auto;
  margin-bottom: 32px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(237, 237, 237);
}

.content-title-item {
  position: relative;
  width: 100px;
  height: 56px;
  padding: 16px 30px;
  margin: 0px 15px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: rgb(153, 153, 153);
  border-bottom: 2px solid transparent;
}

.content-title-item:hover {
  font-weight: 500;
  color: rgb(34, 34, 34);
}

.content-title-item.query {
  color: rgb(34, 34, 34);
  border-color: rgb(34, 34, 34);
}

.content-title-item.query .iconfont {
  position: absolute;
  right: 8px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 20px;
  height: 20px;
  color: rgb(186, 186, 186);
}

.content-title-ad{
  position: absolute;
  top: -1px;
  right: 0px;
}
.content-title-ad__img {
  width: 210px;
}

.content-recommendlist {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  width: 1743px;
  margin: 0 auto;
}

.content-recommend-item {
  margin-bottom: 36px;
  width: 329px;
}

.content-recommend-item__cover {
  position: relative;
  display: flex;
}

.content-recommend-item__cover:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
}

.content-recommend-item__cover:hover:after {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.content-recommend-item__cover-img {
  width: 329px;
  border-radius: 12px;
}

.content-recommend-item__cover .iconfont {
  position: absolute;
  z-index: 10;
  right: 12px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border-radius: 50%;
}

.content-recommend-item__cover .icon-bofang {
  top: 12px;
  width: 20px;
  height: 20px;
  color: #333;
  background-color: #eee;
}

.content-recommend-item__cover .icon-remenx {
  bottom: 12px;
  width: 24px;
  height: 24px;
  color: rgb(255, 71, 26);
  background-color: rgba(255, 255, 255, 0.8);
}

.content-recommend-item__title {
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-width: 100%;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.content-recommend-item__title-text {
  max-width: 100%;
}

.content-recommend-item__title-text:hover {
  color: rgb(255, 115, 0);
}

.content-recommend-item__title-view,
.hot-item__title-view {
  display: flex;
  height: 16px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: rgb(85, 85, 85);
}

.content-recommend-item__title-view .iconfont,
.hot-item__title-view .iconfont {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.content-recommend-item__author,
.hot-item__author {
  align-items: center;
  display: flex;
  height: 20px;
  margin-top: 4px;
  font-size: 12px;
  color: rgb(85, 85, 85);
}

.content-recommend-item__author:hover,
.hot-item__author:hover {
  color: rgb(255, 115, 0);
}

.content-recommend-item__author-img,
.hot-item__author-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
}

.hot-item__author-img {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
}

.content-inspiration {
  background-color: rgb(245, 245, 245);
  margin-bottom: 36px;
}

.inspiration-container,
.hot-container {
  position: relative;
  margin: 0 auto;
  width: 1743px;
}

.inspiration-topic,
.hot-topic {
  justify-content: space-between;
  display: flex;
  height: 20px;
  padding: 30px 0 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.content-interest .hot-topic {
  padding: 30px 0 20px;
}

.inspiration-topic-more,
.hot-topic-more {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.inspiration-topic-more .iconfont,
.hot-topic-more .iconfont {
  align-items: center;
  display: flex;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  transform: scale(.6);
}

.inspiration-topic-more:hover,
.hot-topic-more:hover {
  color: rgb(255, 115, 0);
}

.inspiration-wrapper,
.hot-wrapper {
  position: relative;
  overflow: hidden;
}

.hot-wrapper>.iconfont,
.inspiration-wrapper>.iconfont {
  position: absolute;
  top: 61px;
  right: 0;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 40px;
  height: 40px;
  color: rgb(136, 136, 136);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
}

.inspiration-wrapper .iconfont:hover {
  color: rgb(34, 34, 34);
}

.inspiration-list,
.hot-list {
  position: relative;
  display: flex;
  width: 2000px;
}

.inspiration-item,
.hot-item {
  position: relative;
  width: 240px;
  margin: 0 0 30px 24px;
}

.inspiration-item:last-child::after,
.hot-item:last-child::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, 1) 75%);
}

.hot-item {
  margin-left: 20px;
}

.content-interest .hot-item {
  margin-left: 24px;
}

.inspiration-item:first-child,
.hot-item:first-child {
  margin-left: 0;
}

.inspiration-item__cover {
  display: flex;
}

.inspiration-item__cover-img,
.hot-item__cover-img {
  width: 100%;
  height: 180px;
  border-radius: 12px;
}

.inspiration-item__title {
  justify-content: space-between;
  display: flex;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: rgb(34, 34, 34);
}

.inspiration-item__title-text:hover {
  color: rgb(255, 115, 0);
}

.inspiration-item__title-pic {
  display: flex;
  line-height: 20px;
  font-size: 12px;
  margin-left: 10px;
}

.inspiration-item__title-pic .iconfont.icon-xiangce {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.content-hot {
  background-color: rgb(245, 245, 245);
  margin-bottom: 36px;
}

.hot-topic {
  padding: 28px 0 19px;
}

.hot-item__cover {
  position: relative;
  width: 240px;
  display: flex;
}

.hot-item__cover-img {
  width: 100%;
  height: 135px;
}

.content-interest .hot-item__cover-img {
  height: 180px;
}

.hot-item__cover-livetime {
  position: absolute;
  bottom: 12px;
  left: 12px;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(255, 255, 255);
  background: rgba(255, 71, 26, 0.9);
  border-radius: 4px;
}

.hot-item__title {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: rgb(34, 34, 34);
}

.content-interest .hot-item__title {
  line-height: 21px;
}

.hot-item__title-view {
  font-size: 14px;
}

.content-interest .hot-item__title-text {
  font-size: 16px;
}

.content-interest .hot-item__title-view {
  font-size: 12px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.content-pagination-list {
  /* display: flex; */
  justify-content: center;
  display: flex;
  height: 40px;
  margin-top: 10px;
}

.content-pagination-item {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  font-size: 14px;
  line-height: 38px;
  color: rgb(34, 34, 34);
  text-align: center;
  border-radius: 8px;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.content-pagination-item:first-child {
  color: #fff;
  background-color: rgb(34, 34, 34);
}

.content-pagination-item:last-child {
  margin-right: 8px;
  margin-left: 6px;
}

.content-pagination-item:hover {
  background-color: #ccc;
}

.content-pagination-item .iconfont {
  font-size: 12px;
}

.page-footer {
  justify-content: space-between;
  display: flex;
  height: 32px;
  padding: 0 30px;
  box-sizing: border-box;
  font-size: 12px;
  border-top: 1px solid rgb(237, 237, 237);
  overflow: hidden;
}

.footer-link {
  align-items: center;
  display: flex;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: rgb(85, 85, 85);
}

.footer-about-list {
  display: flex;
}

.footer-about-item {
  align-items: center;
  display: flex;
  margin-right: 24px;
}

.footer-about-item .iconfont {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 16px;
  height: 13px;
  margin-left: 6px;
  transform: rotate(90deg) scale(.7);
}

.footer-service-list {
  display: flex;
}

.footer-service-item {
  margin-right: 16px;
  font-size: 12px;
  line-height: 20px;
  color: rgb(85, 85, 85);
}

.footer-service-item:hover {
  color: rgb(255, 115, 0);
}

.footer-icon-list {
  align-items: center;
  display: flex;
  width: 80px;
  margin-left: 8px;
}

.footer-icon-item {
  align-items: center;
  display: flex;
}

.footer-icon-item .iconfont {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 13px;
}

.footer-icon-item .iconfont:hover {
  color: rgb(255, 115, 0);
}

.footer-icon-item:nth-child(1) .iconfont:hover {
  color: rgb(40, 196, 69);
}

.footer-icon-item:nth-child(2) .iconfont {
  margin: 0 16px;
}

.footer-copyright {
  display: flex;
}

.footer-copyright>* {
  font-size: 12px;
  color: rgb(85, 85, 85);
  /* 问题，这里为什么设为了33的行高，但a的高度不是33，但却可以居中 */
  line-height: 33px;
}

.footer-copyright .footer-copyright-beian {
  margin-right: 12px;
}

.footer-copyright-beian:hover,
.footer-copyright-zool:hover {
  color: rgb(255, 115, 0);
}


/* 媒体查询 */
@media screen and (max-width: 1399px) {
  .header-logo {
    margin-right: 32px;
  }

  .header-nav-item {
    padding: 0 14px;
  }

  .header-nav-item:last-child {
    padding: 0 14px;
  }

  .header-search {
    margin-right: 18px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1521px) {
  .header-nav-item {
    padding: 0 18px;
  }

  .header-nav-item:last-child {
    padding: 0 18px;
  }

  .header-search {
    margin-right: 24px;
  }

}